html {
  font-family: sans-serif;
}

form[name="personForm"] {
  display: grid;
  grid-template-columns: auto minmax(120px, 1fr);
  gap: 20px;

  .inline-label {
    grid-column: 1 / span 1;
  }

  .input-wrapper {
    grid-column: 2 / span 1;
  }

  .block-label {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .error-message {
    color: red;
    margin: 7px;
    font-size: 0.7em;
    padding: 0;
  }

  footer {
    display: contents;

    button[type="submit"] {
      grid-column: 2 / span 1;
      justify-self: start;
    }
  }
}
